     @page
     @model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="center">
    <div class="title">Allt för Golfen – Din Kompletta Golfbutik Online</div>
    <div class="sub-title">
        Hos oss hittar du allt du behöver för ditt golfspel – från klubbor och bollar till kläder och smarta tillbehör. Vi har prylar för både nybörjare och proffs!

        🎯 Stort utbud av golfprodukter
        🛒 Snabb leverans och trygga betalningar
        ⭐ Läs vad andra golfare tycker – betyg & recensioner på varje produkt

        Skapa gärna ett konto för att få tillgång till exklusiva erbjudanden, spara favoriter och skriva egna omdömen.

        👉 Registrera dig idag och bli en del av vår golfcommunity!
    </div>
</div>

<script src="~/js/registerConfirmation.js"></script>