@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt ditt lösenord?";
}

<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/ForgotPasswordCSS/forgotpassword.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="custom-container">
        <div class="forgot-password-container">
            <h2>@ViewData["Title"]</h2>
            <p>Skriv in din email för att återställa lösenordet</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="validation" role="alert"></div>
                <div class="input-group">
                    <i class='bx bx-envelope'></i>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn">Reset Password</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
