@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #FDFFF5;
    --bg-color: #8C8453;
    --main-color: #1B1E10;
    --border-color: #677786;
    --h1-front: 5.5rem;
    --h2-front: 3rem;
    --p-font: 1.2rem;
}

#header {
    top: 0px;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 100;
    margin-top: 10px;
}

/* Stil på logotypen: stor text, vit färg och fet stil. */
.logo {
    display: inline;
    font-size: 50px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
}

/* Färgar all text inuti span-element med huvudfärgen. */

span {
    color: var(--main-color);
}

/* Flexbox-layout för navigeringsfältet (navbar) för horisontell placering av länkar. */

.navbar {
    display: flex;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    display: block;
    transition: all 0.3s ease;
}


/* Stil på navigeringslänkarna: vit text, fet stil, padding och rundade hörn. Smooth transition vid hover. */
.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 5px;
    transition: all .5s ease;
    padding: 10px;
    border-radius: 5px;
}


#menu-toggle {
    display: none;
}

span {
    color: var(--main-color);
}


/* Vid hover: bakgrunden ändras till en guldbrun färg. */

.navbar a:hover {
    background: #8D7014;
}

/* Flexbox för "följ oss"-sektionen med vertikal centrering. */

.follow-oss {
    display: flex;
    align-items: center;
}

/* Första länken i "följ oss"-sektionen har en unik stil: guldbrun färg, fet stil, gräns och rundade hörn med mörk bakgrund. */

.follow-oss a:first-child {
    color: #8D7014;
    font-size: var(--p-font);
    margin-right: 15px;
    border: 3px solid;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--main-color);
}


/* Allmänna länkar i "följ oss"-sektionen: vit text, mellanstorlek och smooth transition vid hover. */
.follow-oss a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 22px;
    margin-left: 5px;
    transition: all .5s ease;
    font-weight: 600;
}

/* Vid hover på första länken: bakgrunden blir transparent och färgen. */


.follow-oss a:first-child:hover {
    background: transparent;
    color: #8C9CA3;
}

/* Vid hover på övriga länkar: textfärgen ändras till guldbrun. */

.follow-oss a:hover {
    color: #8D7014;
}



body {
    font-family: "Roboto", sans-serif;
    background-image: url('../Startsida/image/golf.png');
    color: #333;
   /* padding-top: 20px; */
   width: 100%;
   height: 900px;
   width: 100%;
   height: 900px;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   
}

.Rubrik {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 770px;
    padding: 0 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}

.Container {
    display: flex;
    justify-content: space-between;
    margin: 40% 20% 25%; 
    gap: 50px;
    min-width: 400px;
}

.Kontakt-Container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    padding: 20px;
    flex: 1;
    
    
}

.Container-Rubrik h2 {
    margin: 0 0 10px 0;
}


.map-text {
    text-align: center;
    font-size: 1.5em; 
}

.Info {
    font-size: 15px;
}

table.öppettider {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

table.öppettider th, table.öppettider td {
    border: 1px solid black;
    padding: 3px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}


input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #4A90E2;
    outline: none;
}

button {
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #357ABD;
}

textarea {
    resize: none;
    width: 100%; 
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea:focus {
    border-color: #4A90E2;
    outline: none;
}


footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.hamburger {
    display: none;
}
@media (max-width:1200px) {
    .Container {
        flex-direction: column; 
        align-items: center;
        padding-top: 55px;
    }

}

@media (max-width:900px) {

    .Container {
        padding-top: 100px;
    }
    
}

@media (max-width:870px) {

    .Container {
        padding-top: 200px;
    }

    .logo {
        font-size: 30px;
        width: 40%;
    }

    .center {
        width: 100%;
    }

    .footer {
        width: 100%;
    }


/* Vid mindre skärmar */
@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 260px;
        right: 0;
        width: 100%;
        background-color: var(--main-color);
        z-index: 999;

    }

    .Rubrik {
        z-index: -999;
        width: 100%;
        font-size: 30px;
    }

    header {
        flex-direction: column;
        padding: 10px 20px;
        width: 100%;
    }

    /*  lagt till width och margin-top //Magnus */
    .center {
        z-index: -999;
        width: 90%;
        padding: 10px;
        margin-top: 10px;
    }

    /*  lagt till .center .title //Magnus*/
    .center .title {
        font-size: 3rem;
    }

    /*  lagt till .center .sub-title //Magnus */
    .center .sub-title {
        font-size: 1.2rem;
    }

    /*  lagt till .news //Magnus */
    .news {
        padding: 20px 10px;
    }

    /*  image-row //Magnus */
    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 14px;
    }

    /*  lagt till .center // Magnus */
    .image-box {
        width: 100%;
    }

    .follow-oss {
        flex-direction: row;
        justify-content: space-between;
        width: 190px;
        padding: 10px 0;
        margin: 0;
    }

    .follow-oss a {
        flex-grow: 1;
        text-align: center;
        margin: 0 5px;
    }


    .hamburger {
        display: flex;
        position: relative;
        z-index: 1000;
        padding: 50px
    }
    .navbar li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .center {
        width: 90%;
    }

    .image-box {
        width: 100%;
    }


    #menu-toggle:checked+.hamburger+.navbar {
        display: flex;
    }


    #menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }

    #menu-toggle:checked+.hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
    }
}


    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        justify-content: center;
        flex-wrap: wrap;
    }

    .container {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        max-width: 1200px;
    }

    .container {
        width: 85%;
        margin: 0 auto;
    }
}
@media (max-width:590px) {
    .center {

        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 200px;

    }

    .Huvudtext {
        margin-top: 70px;
    }

    .kalender-container {
        margin-top: 700px;
        align-items: center;
        max-width: 50px;
        display: flex;
        justify-content: center;
        flex-direction: wrap;
        width: 100%;
    }


    @media (max-width:525px) {

        .Container { 
            padding-right: auto;
            margin: auto;
            margin-top: 100px;
        }
    
    }
}
